# Python
__pycache__/
*.pyc

# LaTeX build artifacts
report/report.fls
report/report.log
report/report.out
report/report.synctex.gz

proposal/proposal.fls
proposal/proposal.log
proposal/proposal.out
proposal/proposal.synctex.gz

# Virtual environment
venv/
